<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Wdi_mutual</title>

    <style>
        @page{
            margin:  0.5in 1in 0.5in 1in ;
        }

    </style>
</head>

<body>
    <section class="mutual-sec" style="color: #000;">
        <div class="container" style="
         margin: auto;">
            <div class="logo" style="width: 50px;
            height: 50px;">
                <img src="https://ips.wdipl.com/assets/img/wdipl-logo-black.svg" style="
                margin: 0rem 0 3rem;"></img>
            </div>

            <h2 style=" text-align: center;
            margin: 2rem  0 1rem  0;font-size: 18px;
            font-weight: 700;">MUTUAL NONDISCLOSURE AGREEMENT </h2>

            <p style="font-size: 15px;color: #000;
            ">This Agreement is made as of <b style="font-weight: 700;">{{ date }}</b> by and between <b style="font-weight: 700;">Website Developers India
                    Pvt Ltd</b> located at 614, Palm Spring Centre, New Link Road, Malad (West), Mumbai - 400064
                and <b style="font-weight: 700;">{{ client_name }}</b>, ('Other Party'). </p>

            <ul>
                <p style="font-size: 15px;
                                    margin-bottom: 1.5rem;list-style: none!important;;
                                    "><span style="font-weight: 500;
                                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Purpose:</span></span> <b>Website Developers India Pvt Ltd</b> and Other Party wish to explore a
                    business
                    possibility (the 'Relationship') in connection with which the parties may possibly
                    exchange Confidential Information. For purposes of this Agreement, the party disclosing
                    Confidential Information shall be referred to as the 'Disclosing Party' and the party
                    receiving Confidential Information shall be referred to as the 'Receiving Party'. </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Definition of Confidential Information:</span></span> 'Confidential Information'</span> means any
                    information,
                    technical data, trade secrets or know-how (whether disclosed before or after the date of
                    this Agreement), including, but not limited to, research, product plans, products, services,
                    suppliers, customer lists, customers, prices and costs, markets, software, developments,
                    inventions, clinical data, laboratory notebooks, processes, formulas, technology,
                    designs, drawings, engineering, hardware configuration information, marketing,
                    licenses, finances, budgets or other business information of the Disclosing Party, which
                    Confidential Information is designated in writing to the Receiving Party to be confidential
                    or proprietary, or if given orally, is confirmed within 30 calendar days in writing as having
                    been disclosed as confidential or proprietary. Confidential Information does not include
                    information, technical data or know-how which (i) is in the possession of the Receiving
                    Party at the time of disclosure as shown by the Receiving Party's files and records
                    immediately prior to the time of disclosure, or (ii) prior to or after the time of disclosure
                    becomes part of the public knowledge or literature other than as a result of any improper
                    inaction or action of the Receiving Party hereunder, or (iii) is approved by the Disclosing
                    Party, in writing, for release. </p>

                <p style="font-size: 15px;
                                    margin-bottom: 1.5rem;
                                    "><span style="font-weight: 500;
                                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Nondisclosure of Confidential Information:</span></span> Receiving Party
                    agrees not to use any
                    Confidential Information disclosed to it by the Disclosing Party for its own use or for any
                    purpose other than to carry out discussions concerning, and the undertaking of, the
                    Relationship. The Receiving Party will not disclose any Confidential Information to third
                    parties or to employees of the Receiving Party, other than employees who are required
                    to have the information in order to carry out the discussions regarding the Relationship. The Receiving Party will have or has had employees to whom Confidential Information of the Disclosing Party is
                    disclosed or who have access to Confidential Information of 
                    <table>
                        <th></th>
                        <th style="font-size: 15px;"><span>NDA Document by WDI</span></th>
                        <th style="text-align: right;font-size: 15px;"><b>(1)</b></th>
                    </table>
                    <br>
                    <div class="logo" style="width: 50px;
                     height: 50px;">
                       <img src="https://ips.wdipl.com/assets/img/wdipl-logo-black.svg" style="
                        margin: 0rem 0 3rem;"></img>
                    </div>
                    <br>
                    <br>
                    <span style="font-size: 15px;"> 
                    the Disclosing Party sign a nondisclosure or similar agreement in content substantially
                    similar to this Agreement. Receiving Party agrees that it will take all reasonable
                    measures to protect the secrecy of and avoid disclosure or use of Confidential
                    Information in order to prevent it from falling into the public domain or the possession
                    of persons other than those persons authorized under this Agreement to have any such
                    information. Such measures shall include the highest degree of care that the Receiving
                    Party utilizes to protect its own Confidential Information of a similar nature. Receiving
                    Party agrees to notify the Disclosing Party in writing of any misuse or misappropriation
                    of Confidential Information which may come to the Receiving Party's attention.</span>
                </p>

                <p style="font-size: 15px;
                                    margin-bottom: 1.5rem;list-style: none;
                                    "><span style="font-weight: 500;
                                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Publicity:</span></span> Neither party will, without the prior consent of the other party, disclose
                    to any
                    other person the fact that Confidential Information has been disclosed under this
                    Agreement, that discussions or negotiations are taking place between the parties, or any
                    of the terms, conditions, status or other facts with respect thereto, except as required by
                    law and then only with prior notice as soon as possible to the other party.</p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Return of Materials:</span></span> Any materials or documents that have been furnished by
                    Disclosing Party to the Receiving Party in connection with the Relationship will be
                    promptly returned by the Receiving Party, accompanied by all copies of such
                    documentation, within ten (10) days after (i) the Relationship has been terminated or (ii)
                    the written request of the Disclosing Party. </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Patent or Copyright Infringement:</span></span> Nothing in this Agreement is intended to grant any
                    rights under any patent or copyright of either party, nor shall this Agreement grant
                    Receiving Party any rights in or to the Disclosing Party's Confidential Information other
                    than the limited right to review such Confidential Information in connection with the
                    proposed Relationship between the parties. </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Survival:</span></span> The foregoing commitments of each party shall survive any termination of
                    the Relationship between the parties. </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Successors and Assigns:</span></span> This Agreement shall be binding upon and for the benefit
                    of the undersigned parties, their successors and assigns, provided that Confidential Information of the Disclosing Party may not be assigned without the prior written consent of the Disclosing Party. Failure to enforce any provision of this Agreement by a  
                    party shall not constitute a waiver of any term hereof by such party.                 
                    <table>
                        <th></th>
                        <th style="font-size: 15px;"><span>NDA Document by WDI</span></th>
                        <th style="text-align: right;font-size: 15px;"><b>(2)</b></th>
                    </table>
                    <br>
                    <div class="logo" style="width: 50px;
                     height: 50px;">
                       <img src="https://ips.wdipl.com/assets/img/wdipl-logo-black.svg" style="
                        margin: 0rem 0 3rem;"></img>
                    </div>
                    <br>
                    <span style="font-size: 15px;">  </span> </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Governing Law:</span></span> This Agreement shall be governed by and construed and enforced
                    in accordance with the internal laws of Mumbai, India and shall be binding upon the
                    parties to this Agreement worldwide. </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Waiver:</span></span> Failure to enforce any provision of this Agreement by a party shall not
                    constitute a waiver of any term hereof by such party. </p>

                    <p style="font-size: 15px;
                    margin-bottom: 1.5rem;list-style: none;
                    "><span style="font-weight: 500;
                    border-bottom: 2px solid #000;margin-left: 6px;"> •&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Counterparts:</span></span> This Agreement may be executed in two or more counterparts, each
                    of which shall be deemed an original and all of which together shall constitute one
                    instrument. </p>
            </ul>   
            <p style="font-size: 15px; color: #000;margin-bottom: 1.5rem;">IN WITNESS WHEREOF, this Mutual Nondisclosure Agreement is executed as of the date
                first above written. </p>

            <!-- <div class="signatures" style="display:flex;
            
            width: 100%;
            /* height: 250px; */
            margin-top: 2rem;">
                <div class="sig-inner" style="display: inline-block; width: 50%;">
                    
                    
                
                    <div class="signature-img" >
                        
                    </div>
                    
                     
                    
                </div>
            </div> -->
                <table>
                    <tr style="width:48%;">
                        <td><h4 style="font-weight: 700;font-size: 16px;">For: Website Developers India</h4></td>
                        <td style="margin-left: 0.5rem;"><h4 style="font-weight: 700; font-size: 16px;">For: {{ for_client }}
                        </h4></td>
                    </tr>
                    <tr style="width:48%;">
                        <td ><h4 style="font-weight: 700;font-size: 16px;">BY:</h4></td>
                        <td style="margin-left: 0.5rem;"><h4 style="font-weight: 700;font-size: 16px;">BY: </h4></td>
                    </tr>
                    <tr style="width:48%;">
                        <td ><img style="    width: 180px;
                            height: 90px;
                            object-fit: contain;
                            " src="{{ img_url }}"></img></td>
                        <td style="margin-left: 0.5rem;"></td>
                    </tr>
                    <tr style="width:48%;margin-top: 0.5rem;">
                        <td ><h4 style="font-weight: 700;font-size: 16px;margin-bottom: 10px;">{{ staff }}</h4></td>
                        <td style="margin-left: 0.5rem;"><h4 style="font-weight: 700;font-size: 16px;margin-bottom: 10px;">{{ client_name }}</h4></td>
                    </tr>
                    <tr style="width:48%;">
                        <td ><h5 style="font-weight: 700;font-size: 15px;">Title: {{ staff_desig }}</h5></td>
                        <td style="margin-left: 0.5rem;"><h5 style="font-weight: 700;font-size: 15px;">Title: {{ title }}
                        </h5></td>
                    </tr>
                    <tr style="width:48%;">
                        <td ><h5 style="font-weight: 700;font-size: 15px;">Date: {{ date }}</h5>  </td>
                        <td style="margin-left: 0.5rem;"><h5 style="font-weight: 700;font-size: 15px;">Date: </h5></td>
                    </tr>
                </table>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <table>
                    <th></th>
                    <th style="font-size: 15px;"><span>NDA Document by WDI</span></th>
                    <th style="text-align: right;font-size: 15px;"><b>(3)</b></th>
                </table>
                <!-- <div class="sig-inner" style=" display: inline-block;width: 50%;">
                    
                     
                              
                </div> -->

            
            <!-- <div class="signatures signatures-two d-flex" style="display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin-bottom: 3rem;;">
                <div class="sig-inner" style=" display: table-cell;width: 50%;">                  
                    
                </div>
                <div class="sig-inner" style=" display: table-cell;width: 50%;">
                    
                    
                </div>
            </div> -->
        </div>  
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
