{% extends 'app/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissable fade show" {% endif %}> <strong>{{message}}</strong><button type="button" class="close" data-dismiss="alert" area-label="Close"><span area-hidden="True">&times;</span></button></div>
    {% endfor %}
    {% endif %}
{% endblock msg %}
{% block content %} 
<br>
 
<div class="t_height">
  <h3 class="card-title">Attendance Record</h3> 
<div class="view-table employee-table">
  <table id="table_my-attendance" class="display">
      <thead class="thead-darks">
          <tr class="text-start text-muted fw-bold fs-7 gs-0">
            <th class="head min-w-100 w-100">Date</th>
              <th class="head min-w-100 w-100">Check-In</th>
              <th class="head min-w-100 w-100">Check-Out</th>
              <th class="head min-w-100 w-100">Total Time</th>
              

          </tr>
      </thead>
      <tbody>
          {% for el in attendance_list %}
          <tr>
         
            <td class="text">{{ el.date }}</td>
            <td {% if el.checkin|date:"H:i" > "12:30" %} style="color:red"{% else %} style="color:green"{% endif %}>{{ el.checkin|date:"H:i" }}</td>
            <td class="text">{{ el.checkout|time:"H:i" }}</td>
            <td class="text">{{ el.difference }}</td>
            
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
</div>

{% endblock content %}