{% extends 'app/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissable fade show" {% endif %}> <strong>{{message}}</strong><button type="button" class="close" data-dismiss="alert" area-label="Close"><span area-hidden="True">&times;</span></button></div>
    {% endfor %}
    {% endif %}
{% endblock msg %}
{% block content %} 
<br>
{% if request.user.hr == True %}
<h3>Project List</h3>
<div class="view-table">
    <table class="display" id="table_project-list">
        <thead class="thead-darks">
          <tr>

            {% comment %} <th scope="col">Project ID</th> {% endcomment %}
            <th scope="col">Project Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Company Name</th>
            {% comment %} <th scope="col">Client Contact</th> {% endcomment %}
            <th scope="col">Start Date</th>
            <th scope="col">Delivery Date</th>
            {% comment %} <th scope="col">Min Hours</th> {% endcomment %}
            {% comment %} <th scope="col">Max Hours</th> {% endcomment %}
            {% comment %} <th scope="col">Hours Approved by</th> {% endcomment %}
            {% comment %} <th scope="col">Currency</th> {% endcomment %}
            {% comment %} <th scope="col">Project Value</th> {% endcomment %}
            <th scope="col">Project Type</th>
            {% comment %} <th scope="col">Sales Rep</th> {% endcomment %}
            {% comment %} <th scope="col">Project Manager</th> {% endcomment %}
            <th scope="col">Status</th>
            {% comment %} <th scope="col">Date Added</th> {% endcomment %}
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for el in pro_list %}
          <tr>

            {% comment %} <td class="text">{{ el.id }}</td> {% endcomment %}
            <td class="text">{{ el.project_name }}</td>
            <td class="text">{{ el.client }}</td>
            <td class="text">{{ el.client.company_name }}</td>
            {% comment %} <td class="text">{{ el.client_contact }}</td> {% endcomment %}
            <td class="text">{{ el.start_date }}</td>
            <td class="text">{{ el.delivery_date }}</td>
            {% comment %} <td class="text">{{ el.display_duration }}</td> {% endcomment %}
            {% comment %} <td class="text">{{ el.display_duration_max }}</td> {% endcomment %}
            {% comment %} <td class="text">{{ el.hours_approvedby }}</td> {% endcomment %}
            {% comment %} <td class="text">{{ el.currency }}</td> {% endcomment %}
            {% comment %} <td class="text">{{ el.project_value }}</td> {% endcomment %}
            <td class="text">{{ el.type }}</td>
            {% comment %} <td class="text">{{ el.sales_rep }}</td> {% endcomment %}
            {% comment %} <td class="text">{{ el.project_manager }}</td> {% endcomment %}
            <td class="text">{{ el.get_status_display }}</td>
            {% comment %} <td class="text">{{ el.date }}</td> {% endcomment %}
            <td class="text formview">

              <a href="{% url 'project-details' el.id %}" class="">
                <span class="svg-icon svg-icon-3 green">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                  </svg>
              </span>
              </a>
              
              <a href="{% url 'edit-project' el.id %}" class="">
              <span class="svg-icon svg-icon-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor"></path>
                  <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor"></path>
                </svg>
              </span>
              </a>



              <a href="#" onclick="document.getElementById('delete-project-{{ el.id }}').submit()">
                <span class="svg-icon svg-icon-3 red">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor"></path>
                  <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor"></path>
                  <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor"></path>
                  </svg>
              </span>
              </a>


              <form id="delete-project-{{ el.id }}" action="{% url 'delete-project' el.id %}" method="post" class="d-inline"> 
                {% csrf_token %}
                {% comment %} <input type="submit" class="btn btn-danger btn-sm" value="Delete"> {% endcomment %}
                
              </form>
            </td>
      
   
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endif %}
    {% endblock content %}